{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find charging station</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >

</head>
<body>
    <div class="jumbotron">
      <div class="container">
                <!--div class="header clearfix"-->
        {% include 'header.html'%} <!-- to get rid of this later maybe -->
          <h3 class="text-muted">Lading stasjoner i nærheten</h3>
                    <!--/div-->

        {% block main_content %}

        {% endblock %}

          </div>
        </div>
      <footer class="footer">
          {% include 'footer.html' %}
      </footer>
</body>
</html>

