{% extends 'findchargeeasy/base.html' %}

{% block main_content %}

<h2>Finn nærmeste ladestasjon</h2>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<div id="loader"></div>

<script type="text/javascript">
    window.onload = function(){

        document.getElementById("input_button").hidden = true;
        navigator.geolocation.getCurrentPosition(onSuccess, onError, { timeout: 30000 });

        function onSuccess(position){
            var userLat = position.coords.latitude;
            var userLang = position.coords.longitude;
            var posisjon = userLat.toString() +", " + userLang.toString();
            document.getElementById("location").value = posisjon;
            document.getElementById("loader").style.display = "none";
            document.getElementById("input_button").hidden = false;
            };

        function onError(error){
            alert("code: " + error.code + "\n" + "message: " + error.message + "\n");
        };
    };
</script>


<form method="post" action="map" class="input_button" id="input_button">
    {% csrf_token %}
    <input type="hidden" id="location" name="location" />
         {#{ form.user_position }#}

    <input type="text" id="radius" name="radius" placeholder="tast inn radius i km" required/>
        {#{ form.radius }#}

    <input type="submit" id="but" class="btn btn-success btn-sm" value="Search"/>
</form>


{% endblock %}